# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.log
Saved/Config/Windows/SourceControlSettings.ini
Saved/Config/WorldState/483835822.json
Saved/Config/WorldState/786488620.json
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/WorldState/97357551.json
Saved/Config/Windows/TemplateDefs.ini
Saved/Config/Windows/Compat.ini
Saved/Config/Windows/Compat.ini
Saved/Config/Windows/DeviceProfiles.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/EditorUserSettings.ini.bak
Saved/Config/Windows/Input.ini
Saved/Config/Windows/Game.ini
Saved/Config/Windows/Lightmass.ini
Saved/Backup/BS_Jog_2015-07-15-05-55-13.uasset
Saved/Backup/AdvancedVehicleOverview_2015-07-15-05-57-19.uasset
Saved/Config/WorldState/909057929.json
Saved/Config/Windows/EditorUserSettings.ini
Saved/Config/Windows/Scalability.ini
Saved/Backup/UE4_Mannequin__normals_2015-07-15-05-55-14.uasset
Saved/Autosaves/Game/Level/Map/Level_DEVELOPMENT_Auto1.umap
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Backup/BS_CrouchWalk_2015-07-15-05-55-13.uasset
Saved/Backup/Crouch_Idle_Rifle_Hip_2015-07-15-05-55-13.uasset
Saved/Backup/Crouch_Walk_Fwd_Rifle_Hip_2015-07-15-05-55-13.uasset
Saved/Backup/Crouch_Idle_Rifle_Ironsights_2015-07-15-05-55-13.uasset
Saved/Config/Windows/InternationalizationExport.ini
Saved/Backup/Walk_Fwd_Rifle_Ironsights_2015-07-15-05-55-14.uasset
Saved/Backup/UE4_Mannequin_Skeleton_2015-07-15-05-55-13.uasset
Saved/Backup/Crouch_Walk_Fwd_Rifle_Ironsights_2015-07-15-05-55-13.uasset
Saved/Backup/Crouch_Walk_Lt_Rifle_Hip_2015-07-15-05-55-13.uasset
Saved/Backup/Equip_Pistol_Standing_2015-07-15-05-55-13.uasset
Saved/Backup/Crouch_Walk_Rt_Rifle_Hip_2015-07-15-05-55-13.uasset
Saved/Backup/Fire_Rifle_Ironsights_2015-07-15-05-55-13.uasset
Saved/Backup/Floor_400x400_2015-07-15-05-56-45.uasset
Saved/Backup/Hit_React_2_2015-07-15-05-55-13.uasset
Saved/Backup/Hit_React_1_2015-07-15-05-55-13.uasset
Saved/Backup/Hit_React_3_2015-07-15-05-55-13.uasset
Saved/Backup/Idle_Rifle_Hip_Break1_2015-07-15-05-55-13.uasset
Saved/Backup/Jog_Lt_Rifle_2015-07-15-05-55-13.uasset
Saved/Backup/Idle_Rifle_Hip_2015-07-15-05-55-13.uasset
Saved/Backup/Idle_Rifle_Hip_Break2_2015-07-15-05-55-13.uasset
Saved/Backup/Jog_Bwd_Rifle_2015-07-15-05-55-13.uasset
Saved/Backup/Jog_Rt_Rifle_2015-07-15-05-55-13.uasset
Saved/Backup/Jog_Fwd_Rifle_2015-07-15-05-55-13.uasset
Saved/Backup/Jump_From_Stand_2015-07-15-05-55-13.uasset
Saved/Backup/Jump_From_Jog_2015-07-15-05-55-13.uasset
Saved/Backup/Level_DEVELOPMENT_2015-07-15-06-10-47.umap
Saved/Backup/UE4_Mannequin_occlusion_Mobile_2015-07-15-05-55-14.uasset
Saved/Backup/UE4_Mannequin_MAT_MASKA_2015-07-15-05-55-14.uasset
Saved/Backup/UE4_LOGO_CARD_2015-07-15-05-55-13.uasset
Saved/Backup/UE4Man_Logo_N_2015-07-15-05-55-14.uasset
Saved/Backup/T_Wood_Walnut_N_2015-07-15-05-50-12.uasset
Saved/Backup/T_Wood_Walnut_D_2015-07-15-05-50-12.uasset
Saved/Backup/T_Wood_Pine_D_2015-07-15-05-50-12.uasset
Saved/Backup/T_Wood_Oak_N_2015-07-15-05-50-12.uasset
Saved/Backup/T_Wood_Pine_N_2015-07-15-05-50-12.uasset
Saved/Backup/T_Wood_Oak_D_2015-07-15-05-50-11.uasset
Saved/Backup/T_Wood_Floor_Walnut_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_Wood_Floor_Walnut_D_2015-07-15-05-50-11.uasset
Saved/Backup/T_Wood_Floor_Walnut_M_2015-07-15-05-50-11.uasset
Saved/Backup/T_Tech_Panel_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_Tech_Panel_M_2015-07-15-05-50-11.uasset
Saved/Backup/T_Tech_Hex_Tile_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_Water_M_2015-07-15-05-50-11.uasset
Saved/Backup/T_Tech_Dot_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_Tech_Dot_M_2015-07-15-05-50-11.uasset
Saved/Backup/T_Water_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_Tech_Hex_Tile_M_2015-07-15-05-50-11.uasset
Saved/Backup/T_TableRound_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_TableRound_M_2015-07-15-05-50-11.uasset
Saved/Backup/T_Statue_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_Single_Tile_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_Shelf_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_Spark_Core_2015-07-15-05-50-11.uasset
Saved/Backup/T_Statue_M_2015-07-15-05-50-11.uasset
Saved/Backup/T_Rock_Slate_D_2015-07-15-05-50-11.uasset
Saved/Backup/T_Rock_Sandstone_D_2015-07-15-05-50-11.uasset
Saved/Backup/T_Rock_Sandstone_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_Rock_Slate_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_Shelf_M_2015-07-15-05-50-11.uasset
Saved/Backup/Level_DEVELOPMENT_2015-07-15-05-55-14.umap
Saved/Backup/ML_GlossyBlack_Latex_UE4_2015-07-15-05-55-13.uasset
Saved/Backup/ML_SoftMetal_UE4_2015-07-15-05-55-13.uasset
Saved/Backup/ML_Plastic_Shiny_Beige_2015-07-15-05-55-13.uasset
Saved/Backup/T_Smoke_SubUV_2015-07-15-05-50-11.uasset
Saved/Backup/T_Smoke_Tiled_D_2015-07-15-05-50-11.uasset
Saved/Backup/T_Rock_Basalt_D_2015-07-15-05-50-11.uasset
Saved/Backup/T_Rock_Basalt_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_RockMesh_N_2015-07-15-05-50-11.uasset
Saved/Backup/M_UE4Man_Body_2015-07-15-05-55-13.uasset
Saved/Backup/ML_Plastic_Shiny_Beige_LOGO_2015-07-15-05-55-13.uasset
Saved/Backup/M_UE4Man_ChestLogo_2015-07-15-05-55-13.uasset
Saved/Backup/Reload_Rifle_Hip_2015-07-15-05-55-13.uasset
Saved/Backup/SK_Mannequin_2015-07-15-05-55-13.uasset
Saved/Backup/SK_Mannequin_PhysicsAsset_2015-07-15-05-55-13.uasset
Saved/Backup/T_Metal_Copper_D_2015-07-15-05-50-11.uasset
Saved/Backup/T_Door_M_2015-07-15-05-50-10.uasset
Saved/Backup/T_Rock_Smooth_Granite_D_2015-07-15-05-50-11.uasset
Saved/Backup/T_Ground_Grass_D_2015-07-15-05-50-10.uasset
Saved/Backup/T_Ground_Grass_N_2015-07-15-05-50-10.uasset
Saved/Backup/T_Metal_Gold_D_2015-07-15-05-50-11.uasset
Saved/Backup/T_Ground_Gravel_D_2015-07-15-05-50-10.uasset
Saved/Backup/T_Metal_Steel_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_ML_Aluminum01_N_2015-07-15-05-55-13.uasset
Saved/Backup/T_Gradinet_01_2015-07-15-05-50-10.uasset
Saved/Backup/T_Metal_Aluminum_D_2015-07-15-05-50-11.uasset
Saved/Backup/T_Metal_Gold_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_Metal_Rust_D_2015-07-15-05-50-11.uasset
Saved/Backup/T_Metal_Rust_N_2015-07-15-05-50-11.uasset
Saved/Backup/T_Metal_Steel_D_2015-07-15-05-50-11.uasset
Saved/Backup/T_ML_Aluminum01_2015-07-15-05-55-13.uasset
Saved/Backup/T_ML_Rubber_Blue_01_D_2015-07-15-05-55-13.uasset
Saved/Backup/T_ML_Rubber_Blue_01_N_2015-07-15-05-55-13.uasset
Saved/Backup/T_Perlin_Noise_M_2015-07-15-05-50-11.uasset
Saved/Backup/T_RockMesh_M_2015-07-15-05-50-11.uasset
Saved/Backup/T_Rock_Marble_Polished_D_2015-07-15-05-50-11.uasset
